{% extends 'base.html.twig' %}

{% block title %} Affecter Promotion{% endblock %}

{% block content %}
    <section id="container">
        <section id="main-content">
            <section class="wrapper">
                <h3><i class="fa fa-angle-right"></i> Affecter des promotions</h3>
                <div class="row mt">
                    <div class="col-md-12">
                        <div class="content-panel">
                            <div>
                                {{ form_start(form) }}
                                {{ form_row(form.delai) }}
                                {{ form_row(form.idUser) }}
                                {{ form_row(form.idPromo) }}
                                {{ form_row(form.submit, {'label': 'Affecter'}) }}
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </section>

{% endblock %}