{% extends 'baseFront.html.twig' %}

{% block title %}Promotion{% endblock %}

{% block content %}
    <div class="hero-wrap" style="background-image: url('{{ asset('front/images/bg_3.jpg') }}');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text d-flex align-itemd-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center d-flex align-items-end justify-content-center">
                    <div class="text">
                        <p class="breadcrumbs mb-2"><span class="mr-2"><a href="../promotion/index.html.twig">Home</a></span></p>
                        <h1 class="mb-4 bread">Récompense</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="ftco-section ftco-no-pb ftco-room">
        <div class="container-fluid px-0">
            <div class="row no-gutters justify-content-center mb-5 pb-3">
                <div class="col-md-7 heading-section text-center ftco-animate">
                    <h2 class="mb-4">Choisissez De nos offres</h2>
                </div>
            </div>


            <div class="row no-gutters">
                {% for promotion in promotions %}
                <div class="col-lg-6">
                    <div class="room-wrap d-md-flex ftco-animate">
                       <!-- <a href="#" class="img" style="background-image: url(images/);"></a> -->
                        <img src="" style="background-image: none">
                        <div class="half left-arrow d-flex align-items-center">
                            <div class="text p-4 text-center">
                                <p class="mb-0"><span class="price mr-1">{{ promotion.scoreMin }}</span> <span class="per">Score Minimum</span></p>
                                <p class="mb-0"><span class="price mr-1">{{ promotion.type }}</span></p>
                                <h3 class="mb-3">{{ promotion.title }}</h3>
                                <p class="pt-1"><a href="{{ path('promotionShowDetailsUI', {'id': promotion.id}) }}" class="btn-custom px-3 py-2 rounded">View Details <span class="icon-long-arrow-right"></span></a></p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
    </section>




{% endblock %}
